.Sidebar-wrapper {
	display: grid;
	grid-template-rows: repeat(1fr);
	background: linear-gradient(
		0deg,
		rgba(12, 12, 98, 1) 0%,
		rgba(59, 59, 144, 1) 100%
	);
	color: white;
	height: 100vh;
	width: $Sidebar-width;
	position: fixed;
	top: 0;
	justify-content: center;
	.dashboard-banner {
		display: grid;
		align-content: center;
	}
	.progress-links {
		.p-link {
			margin-bottom: 3vh;
			i {
				font-size: 30px;
			}
			button {
				border: none;
				background: rgba(0, 0, 0, 0);
				color: white;
				font-weight: 500;
				text-align: right;
			}
		}
	}
}
