//Site colors
$Ghost-white: #ededf2;
$Turquoise: #1fd3b8;
$Royal-dark-blue: #1b235e;

//Navbar in layout folder - styles
$Navbar-height: 65px;

//Sidebar in MyProgress Component - styles
$Sidebar-width: 15vw;
