.Sidebar-wrapper {
	display: grid;
	grid-template-rows: repeat(1fr);
	background: linear-gradient(
		0deg,
		rgba(12, 12, 98, 1) 0%,
		rgba(59, 59, 144, 1) 100%
	);
	color: white;
	height: 100vh;
	width: $Sidebar-width;
	position: fixed;
	top: 0;
}
